@model QuanLySinhVien.Models.SinhVien

@{
    ViewBag.Title = "ChiTietSinhVien";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Chi tiết sinh viên</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/SinhVien/DanhSachSinhVien">Sinh viên</a></li>
                    <li class="breadcrumb-item active">Chi tiết sinh viên</li>
                </ul>
            </div>
        </div>
    </div>

    @if (Model == null)
    {
        <div>Sinh viên không tồn tại</div>
    }
    else
    {
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="about-info">
                    <h4>Thông tin sinh viên</h4>
                    <div class="media mt-3">
                        <img src="~/assets/img/user.jpg" class="mr-3" alt="..." style="width: auto">
                        <div class="media-body">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.MaSV)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.MaSV)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.HoSV)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.HoSV)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.TenSV)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.TenSV)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.GioiTinh)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.GioiTinh)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.NgaySinh)
                                </dt>

                                <dd>
                                    @String.Format("{0:dd-MM-yyyy}", Model.NgaySinh)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.QueQuan)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.QueQuan)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SoDienThoai)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SoDienThoai)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Lop.TenLop)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Lop.TenLop)
                                </dd>

                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    }  
</div>
