@model List<QuanLySinhVien.Models.SinhVien>

@{
    ViewBag.Title = "DanhSachSinhVien";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.active = 1;
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="form-row col-md-8">
                <div class="col-md-4 mb-3">
                    @Html.DropDownList("MaKhoa", new SelectList(QuanLySinhVien.Models.BUS.KhoaBUS.DanhSachKhoa(), "MaKhoa", "TenKhoa"), "--Chọn khoa--", htmlAttributes: new { @class = "form-control", @id = "Khoa", @style = "text-align: center" })
                </div>
                <div class="col-md-4 mb-3">
                    @Html.DropDownList("MaLop", new SelectList(new List<QuanLySinhVien.Models.Lop>(), "MaLop", "TenLop"), "--Chọn lớp--", htmlAttributes: new { @class = "form-control", @id = "Lop", @style = "text-align: center"})
                </div>
                <div class="col-md-4 mb-3 top-nav-search">
                    <input type="text" class="form-control" placeholder="Nhập mã sinh viên" id="MaSinhVien">
                </div>
                <div class="col-md-4 mb-3 top-nav-search">
                    <input type="text" class="form-control" placeholder="Nhập tên sinh viên" id="TenSinhVien">
                </div>
                <div class="col-md-3 mb-1 top-nav-search">
                    <button class="btn" type="submit" id="btnTimKiem"><i class="fas fa-search">Tìm Kiếm</i></button>
                </div>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="~/SinhVien/XuatFileExcel" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Tải danh sách</a>
                <a href="~/SinhVien/ThemSinhVien" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Mã sinh viên</th>
                                    <th>Họ sinh viên</th>
                                    <th>Tên sinh viên</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>Quê quán</th>
                                    <th>Số điện thoại</th>
                                    <th>Lớp</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="tbSinhVien">
                                @foreach (var sv in Model)
                                {
                                    <tr>
                                        <td>@sv.MaSV</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="~/SinhVien/ChiTietSinhVien?masv=@sv.MaSV">@sv.HoSV</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="~/SinhVien/ChiTietSinhVien?masv=@sv.MaSV">@sv.TenSV</a>
                                            </h2>
                                        </td>
                                        <td>@sv.GioiTinh</td>
                                        <td>@String.Format("{0:dd-MM-yyyy}", sv.NgaySinh)</td>
                                        <td>@sv.QueQuan</td>
                                        <td>@sv.SoDienThoai</td>
                                        @{
                                            QuanLySinhVien.Models.QuanLySinhVienEntities db = new QuanLySinhVien.Models.QuanLySinhVienEntities();
                                            var lops = db.Lops.ToList();
                                            foreach (var lop in lops)
                                            {
                                                if (@lop.MaLop == @sv.MaLop)
                                                {
                                                    <td>@lop.TenLop</td>
                                                }
                                            }
                                        }
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="~/SinhVien/SuaSinhVien?masv=@sv.MaSV" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" onclick="if (confirm('Bạn có chắc muốn xóa sinh viên này không ?')) { location.href = '/SinhVien/XoaSinhVien?masv=@sv.MaSV' }" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#btnTimKiem').click(function () {
                var MaSinhVien = $('#MaSinhVien').val();
                var TenSinhVien = $('#TenSinhVien').val();
                var MaKhoa = $('#Khoa').val();
                var MaLop = $('#Lop').val();
                DanhSachSinhVien(MaSinhVien, TenSinhVien, MaKhoa, MaLop);
            });

            $('#Khoa').change(function () {
                var id = $('#Khoa').val();
                DanhSachLopTheoKhoa(id);
            });
        });

        function DanhSachSinhVien(MaSinhVien, TenSinhVien, MaKhoa, MaLop) {
            $.ajax({
                url: "/SinhVien/TimKiemSinhVien",
                type: 'post',
                data: { MaSinhVien: MaSinhVien, TenSinhVien: TenSinhVien, MaKhoa: MaKhoa, MaLop: MaLop },
                success: function (data) {
                    let display = '';
                    $.each(data.dsSinhVien, function (index, item) {
                        display += '<tr><td>' + item.MaSV + '</td>';
                        display += '<td><h2 class="table-avatar"><a href="~/SinhVien/ChiTietSinhVien?masv=' + item.MaSV + '">' + item.HoSV + '</a></h2></td>';
                        display += '<td><h2 class="table-avatar"><a href="~/SinhVien/ChiTietSinhVien?masv=' + item.MaSV + '">' + item.TenSV + '</a></h2></td>';
                        display += '<td>' + item.GioiTinh + '</td>';
                        display += '<td>' + item.NgaySinh + '</td>';
                        display += '<td>' + item.QueQuan + '</td>';
                        display += '<td>' + item.SoDienThoai + '</td>';
                        display += '<td>' + item.TenLop + '</td>';
                        display += '<td class="text-right"><div class="actions"><a href="/SinhVien/SuaSinhVien?masv=' + item.MaSV + '" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>';
                        display += '<a onclick="if (confirm(\'Bạn có chắc muốn xóa sinh viên này không ?\')) { location.href = "/SinhVien/XoaSinhVien?masv=' + item.MaSV + '"}" class="btn btn-sm bg-danger-light"><i class="fas fa-trash"></i></a></div></td></tr>';
                    });
                    $('#tbSinhVien').html(display);
                }
            });
        }

        function DanhSachLopTheoKhoa(id) {
            $.ajax({
                url: "/SinhVien/DanhSachLopTheoKhoa",
                type: 'post',
                data: { id: id },
                success: function (data) {
                    let display = '<option value="">--Chọn lớp--</option>';
                    $.each(data.dsLop, function (index, item) {
                        display += '<option value = "' + item.MaLop + '">';
                        display += item.TenLop + '</option>';
                    });
                    $('#Lop').html(display);
                }
            });
        }
    </script>

}