@model IEnumerable<QuanLySinhVien.Models.ThanhVien>

@{
    ViewBag.Title = "DanhSachThanhVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.active = "DanhSachThanhVien";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="~/Admin/ThanhVien/ThemTaiKhoan" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Tên tài khoản</th>
                                    <th>Họ thành viên</th>
                                    <th>Tên thành viên</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>Quê quán</th>
                                    <th>Số điện thoại</th>
                                    <th>Vai trò</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tv in Model)
                                {
                                    <tr>
                                        <td>@tv.UserName</td>
                                        <td>
                                            <h2 class="table-avatar">@tv.HoTV
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">@tv.TenTV
                                            </h2>
                                        </td>
                                        <td>@tv.GioiTinh</td>
                                        <td>@String.Format("{0:dd-MM-yyyy}", tv.NgaySinh)</td>
                                        <td>@tv.QueQuan</td>
                                        <td>@tv.SoDienThoai</td>
                                        <td>@Html.Raw(tv.MaVT != null ? QuanLySinhVien.Models.BUS.VaiTroBUS.ChiTietVaiTro(tv.MaVT).TenVT : "")</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="~/Admin/ThanhVien/CapNhatThanhVien?UserName=@tv.UserName" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" onclick="if (confirm('Bạn có chắc muốn xóa thành viên này không?')) { location.href = '/Admin/ThanhVien/XoaThanhVien?UserName=@tv.UserName' }" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
